<template>
  <div>
    <div>
      <div class="chatButton">
        <div class="chatInfo">
          <div class="image my-image">
            <img src="../../images/robert.jpg">
          </div>
          <p class="name">
            {{this.$store.getters.user.displayName}}
            </br>
            <span>{{this.$store.getters.user.username}}</span>
          </p>

          <p class="message"></p>
        </div>
      </div>
    </div>
    <b-input v-model="searchOnConversationsText" placeholder="Recherche de discution..." class="input-search"></b-input>
    <div v-for="contact in contacts">
      <ContactComponent :contact="contact" v-on:click.native="getMessagesAndDataForConversation(contact)"/>
    </div>
  </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import ContactComponent from "@/components/chat/ContactComponent";
    import Global from "@/utils/Global";

    interface Contact {
      id: number;
      mood: string;
      picture: string;
      lastname: string;
      firstname: string;
      username: string;
      conversationId: number;
      conversationPicture: string;
      conversationTitle: string;
      conversationType: string;
      titleContact: string;
      lastMessage: string;
      messagesNotRead: string;
      lastDateMessage: string;
    }

    @Component({
        components: {
            ContactComponent
        }
    })
    export default class ContactListComponent extends Vue {
        public contacts: Contact[] = [];
        public searchOnConversationsText = "";

        public mounted() {
            Global.instanceAxios.get("/chat/get-contacts-user", {}).then(({data: response}) => {
              this.contacts = response.data;
            }).catch((errors: any) => {
                console.log(errors)
                this.$buefy.notification.open({
                    duration: 5000,
                    message: "Une erreur est survenu. Veuillez contacter l'administation",
                    position: "is-bottom",
                    type: "is-danger"
                });
            });
            console.log(this.contacts);
        }

        public getMessagesAndDataForConversation(contact: Contact) {
          this.$emit("updateCurrentConversation", {currentContact: contact});
          //this.$forceUpdate();
        }
    }
</script>

<style scoped>
.input-search input {
  border-left-color: unset !important;
  border-right-color: unset !important;
}
.myinfo .name {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .side .name {
    font-size: 18px;
    font-weight: 600;
  }

  .chatButton {
    float: left;
    width: 100%;
    height: 80px;
    background: #FFF;
    color: #555;
    cursor: pointer;
    overflow: hidden;
  }

  .chatInfo {
    float: left;
  }

  .chatInfo p {
    float: left;
  }

  .chatInfo .image img{
    position: absolute;
    width: 55px;
    height: 55px;
    background-size: cover;
    border-radius: 100%;
    margin: 13px 13px;
  }

  .chatInfo .name {
    float: left;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 18px;
  }

.chatInfo .name span {
    font-weight: initial;
    margin-left: 4px;
  }

  .chatInfo .message {
    float: left;
    clear: left;
    margin-left: 80px;
    margin-top: 7px;
  }

  .status {
    width: 60px;
    height: 100%;
    position: relative;
    float: right;
  }

  .status .fixed {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
  }

  div[class~="normal"] > .fixed {
    display: none;
  }

  div[class~="normal"] > .count {
    right: 10px;
    bottom: 7px;
  }

  div[class~="onTop"] > .fixed {
    display: block;
    width: 24px;
    height: 24px;
    fill: #FFF;
  }

  div[class~="onTop"] > .count {
    right: 34px;
    bottom: 7px;
    background: #DF3C3C;
    color: white;
  }

  .status .count {
    position: absolute;
    right: 49px;
    bottom: 7px;
    width: auto;
    height: auto;
    padding: 0 7px;
    border-radius: 40%;
    color: #222;
    background: rgba(0, 0, 0, 0.12);
  }

  .status .date {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 12px;
  }

  .status .read {
    position: absolute;
    right: 75px;
    top: 6px;
  }

  .chatName > span {
    font-size: 12px;
    font-weight: 500;
    color: #BBB;
    margin-left: 10px;
  }

  .emoticonType button {
    width: 105px;
    height: 36px;
    font-weight: 600;
    color: #555;
    background: none;
  }

  .emoticonType button:hover {
    color: #FFF;
    background: #419fd9;
  }
</style>