<template>
  <div class="chatButton" :class="isActiveContact(contact.id)" v-on:click="getContactActive(contact.id)">
    <div class="chatInfo">
      <div class="image my-image">
        <img src="../../images/leomessi.jpg">
      </div>
      <p class="name">
        {{contact.titleContact}}
      </p>

      <p class="message">{{contact.lastMessage}}</p>
    </div>

    <div class="status onTop">
      <p class="date">{{contact.lastDateMessage}}</p>
      <p class="count" v-if="contact.messagesNotRead != 0">{{contact.messagesNotRead}}</p>
      <i class="material-icons onTop fixed"><img :src="getPathIcon(contact.lastMessageOwner, contact.isLastMessageRead)"></i>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import CheckGreen from "@/images/check-green.png";
  import CheckGrey from "@/images/check-grey.png";

  interface Contact {
      id: number;
      mood: string;
      picture: string;
      lastname: string;
      firstname: string;
      username: string;
      conversationId: number;
      conversationPicture: string;
      conversationTitle: string;
      conversationType: string;
      titleContact: string;
      lastMessage: string;
      messagesNotRead: number;
      lastDateMessage: string;
      lastMessageOwner: string;
      isLastMessageRead: boolean;
  }

  @Component
  export default class ContactComponent extends Vue {
      @Prop() public contact!: Contact;

      public currentContactIdActive = 5;
      public getContactActive(contactId) {
        console.log(this.currentContactIdActive, contactId)
        this.currentContactIdActive = contactId
      }

      public isActiveContact(contactId) {
        contactId == this.currentContactIdActive ? 'active-contact' : ''
      }

      public getPathIcon(lastMessageOwner: number | string, isLastMessageRead:boolean) {
          if (lastMessageOwner === "me") {
              return isLastMessageRead ? CheckGreen : CheckGrey
          }
      }
  }
</script>

<style scoped>
  .myinfo .name {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .active-contact {
    background: red;
  }

  .side .name {
    font-size: 18px;
    font-weight: 600;
  }

  .chatButton {
    float: left;
    width: 100%;
    height: 80px;
    background: #FFF;
    color: #555;
    cursor: pointer;
    overflow: hidden;
  }

  .chatButton:hover {
    color: #555;
    background: #EEE;
  }

  .active, .active:hover {
    color: #FFF;
    background: #419fd9;
  }

  .chatInfo {
    float: left;
  }

  .chatInfo p {
    float: left;
  }

  .chatInfo .image img{
    position: absolute;
    width: 55px;
    height: 55px;
    background-size: cover;
    border-radius: 100%;
    margin: 13px 13px;
  }

  .chatInfo .name {
    float: left;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 18px;
  }

  .chatInfo .message {
    float: left;
    clear: left;
    margin-left: 80px;
    margin-top: 7px;
  }

  .status {
    width: 60px;
    height: 100%;
    position: relative;
    float: right;
  }

  .status .fixed {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
  }

  div[class~="normal"] > .fixed {
    display: none;
  }

  div[class~="normal"] > .count {
    right: 10px;
    bottom: 7px;
  }

  div[class~="onTop"] > .fixed {
    display: block;
    width: 24px;
    height: 24px;
    fill: #FFF;
  }

  div[class~="onTop"] > .count {
    right: 34px;
    bottom: 7px;
    background: #DF3C3C;
    color: white;
  }

  .status .count {
    position: absolute;
    right: 49px;
    bottom: 7px;
    width: auto;
    height: auto;
    padding: 0 7px;
    border-radius: 40%;
    color: #222;
    background: rgba(0, 0, 0, 0.12);
  }

  .status .date {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 12px;
  }

  .status .read {
    position: absolute;
    right: 75px;
    top: 6px;
  }

  .chatName > span {
    font-size: 12px;
    font-weight: 500;
    color: #BBB;
    margin-left: 10px;
  }

  .emoticonType button {
    width: 105px;
    height: 36px;
    font-weight: 600;
    color: #555;
    background: none;
  }

  .emoticonType button:hover {
    color: #FFF;
    background: #419fd9;
  }
</style>
