<template>
  <div style="position:relative; height: 100%">
    <b-input v-model="message" style="height: 50px; float: left; margin: 0 10px; width: calc(90% - 20px)" placeholder="Votre message..."></b-input>
    <b-button
        style="float: left; width: calc(10% - 10px); margin-right: 10px"
        type="is-primary"
        size="is-medium"
        v-on:click="sendNewMessage"
    >Envoyer
    </b-button>
  </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Global from "@/utils/Global";

    @Component({})
    export default class ConversationFormComponent extends Vue {
        @Prop() public sendMessage!: (params: string) => void;
        public message = "";

        public sendNewMessage() {
            this.$emit("sendMessage", {content: this.message});
        }
    }
</script>

<style scoped>
  
</style>
