<template>
  <div style="position:relative; height: 100%; padding: 20px;" v-if="currentContact.id > 0">
    <div class="conversation-infos">
      <div class="profile-picture">
      {{currentContact.firstname + " " + currentContact.lastname}}
      </div>
      <div class="name"></div>
      <div class="more-actions"></div>
    </div>
    <div class="conversation-messages" >
      <div v-for="message in messages">
        <span v-if="message.messageOwner === 'me'">{{$store.getters.user.displayName}}: </span>
        <span v-else>{{currentContact.firstname + " " + currentContact.lastname}}: </span>
        {{message.content}}
      </div>
    </div>
    <div class="conversation-form">
      <ConversationFormComponent @sendMessage="onSendNewMessage"/>
    </div>
  </div>
  <div v-else style="text-align: center;padding: 25% 0;font-size: 33px;">
    Ceci est notre tchat dev par Brice et Kilian! Enjoy ;)
  </div>
</template>

<script lang="ts">
    import MessageComponent from "@/components/chat/MessageComponent";
    import ConversationFormComponent from "@/components/chat/ConversationFormComponent";
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Global from "@/utils/Global";

    @Component({
        components: {
            MessageComponent,
            ConversationFormComponent
        }
    })
    export default class CurrentConversationComponent extends Vue {
        @Prop() public currentContact!: any;
        @Prop() public messages!: any;

        public onSendNewMessage(data) {
          this.$emit("sendMessage", {content: data.content, conversationId: this.currentContact.conversationId});
        }
    }
</script>

<style scoped>
  .conversation-messages {
    height: calc(100% - 100px);
  }

  .conversation-form {
    height: 50px;
  }

  .conversation-infos {
    height: 50px;
  }
</style>
