import { hasOnlyExpressionInitializer } from "typescript";

<template>
  <form @submit.prevent="">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Créer votre compte</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Prénom">
          <b-input
              v-model="firstname"
              placeholder="Prénom"
          >
          </b-input>
        </b-field>
        <b-field label="Nom">
          <b-input
              v-model="lastname"
              placeholder="Nom"
          >
          </b-input>
        </b-field>
        <b-field label="Email">
          <b-input
              v-model="email"
              placeholder="Email"
          >
          </b-input>
        </b-field>
        <b-field label="Nom d'utilisateur">
          <b-input
              v-model="username"
              placeholder="Nom d'utilisateur"
          >
          </b-input>
        </b-field>
        <b-field label="Mot de passe">
          <b-input
              v-model="password"
              type="password"
              autocomplete="new-password"
              placeholder="Mot de passe"
              icon-pack="fa"
              password-reveal>
          </b-input>
        </b-field>
      </section>
      <footer style="float: right" class="modal-card-foot">
        <button class="button is-primary" @click="createUser()">Créer votre compte</button>
        <button class="button" type="button" @click="closeModal">Annuler</button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  //import io from "socket.io-client";
  import Global from "@/utils/Global";
  import moment from "moment";

  @Component
  export default class RegisterUserModalComponent extends Vue {
    @Prop() public updateVisibility!: (params: boolean) => void;

    public firstname = "";
    public lastname = "";
    public password = "";
    public email = "";
    public username = "";

    /*public tests() {
      const self = this;
      this.socket.emit("send message", {username: "coucou",
        password: this.response});
      this.socket.on("new message", (data: any) => {
        console.log(data);
        self.test = data;
      });
    }*/

    public getDataForm() {
      return {
        firstname: this.firstname,
        lastname: this.lastname,
        email: this.email,
        username: this.username,
        password: this.password
      }
    }

    public createUser() {
      const dataForm = this.getDataForm();
      let hasError = false;
      Object.values(dataForm).forEach(value => {
        if(value === "") {
          hasError = true;
        }
      });

      if (hasError) {
        this.$buefy.notification.open({
          duration: 5000,
          message: "Veuillez remplir tout les champs",
          position: "is-bottom",
          type: "is-danger"
        });
        return;
      }

      Global.instanceAxios.post("/users/add", dataForm, {}).then(({data: response}) => {
        if(!response.success) {
            if(response.code === "username-email-already-taken") {
                this.$buefy.notification.open({
                    duration: 5000,
                    message: "Le nom d'utilisateur ou l'adresse email existe déjà",
                    position: "is-bottom",
                    type: "is-danger"
                });
            }
        } else {
          this.$buefy.notification.open({
                duration: 5000,
                message: "Votre compte a été créé avec succès",
                position: "is-bottom",
                type: "is-success"
            });
            this.closeModal();
        }
      }).catch((errors: any) => {
        console.log(errors)
          this.$buefy.notification.open({
              duration: 5000,
              message: "Une erreur est survenu. Veuillez contacter l'administation",
              position: "is-bottom",
              type: "is-danger"
          });
      });
    }

    public mounted() {
      //this.socket = io.connect("");
      //this.test = "Ma Variable Test après le mounted";
    }

    private closeModal() {
        this.$emit("updateVisibility", {
            isVisible: false,
            modalName: "MODAL_REGISTER_USER",
        });
    }
  }
</script>

<style scoped>

</style>
