// Set your colors
$primary: #e2221d;
$secondary: #4099FF;

$yellow: #ff6700;


$red: #e22b28;
$grey: #8e8e8e;
$light-grey: #f3f3f2;
$dark-grey: #262626;

//Footer
$footer-padding: 1rem;
$footer-background-color: white;

//Menu
$menu-item-color: $dark-grey;
$menu-item-hover-background-color: $primary;
$menu-item-hover-color: white;
$menu-item-active-background-color: $primary;

$modal-content-width: 800px;
$modal-card-head-background-color: white;
$modal-card-head-border-bottom: 1px solid $light-grey;
$modal-card-foot-border-top: 1px solid $light-grey;
$modal-card-body-padding: 20px;
$modal-card-foot-radius: 4px;

$title-color: $dark-grey;
