<template>
    <div>
        ici page de regsiter
        <input v-model="response"><b-button @click="() => tests()" type="is-success">Tests Axios</b-button>
        {{test}}
    </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import io from "socket.io-client";
  import Global from "@/utils/Global";
  import store from "@/store";

  @Component
  export default class RegisterPageVue extends Vue {
    public test = "Ma variable Test";
    public socket = io;
    public response = "";
    public tests() {
      const self = this;
      this.socket.emit("send message", {username: "coucou",
        password: this.response});
      this.socket.on("new message", (data: any) => {
        console.log(data);
        self.test = data;
      });
    }
    public mounted() {
      this.socket = io.connect("http://localhost:3000");
      this.test = "Ma Variable Test après le mounted";
    }
  }
</script>

<style scoped>

</style>