<template>
    <div style="display: flex; height: 100%">
      <div class="column-left">
        <contact-list-component @updateCurrentConversation="onUpdateCurrentConversation" />
      </div>
      <div class="column-right">
        <current-conversation-component :messages="messages" :currentContact="currentContact" @sendMessage="onSendMessage"/>
      </div>
      <div v-on:click="test()"/>coucou</div>
    </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import Global, {sendRequestToSocket} from "@/utils/Global";
  import Config from "@/config/config";
  import io from "socket.io-client";
  import ContactListComponent from "@/components/chat/ContactListComponent";
  import CurrentConversationComponent from "@/components/chat/CurrentConversationComponent";

  interface Contact {
    id: number;
    mood: string;
    picture: string;
    lastname: string;
    firstname: string;
    username: string;
    conversationId: number;
    conversationPicture: string;
    conversationTitle: string;
    conversationType: string;
    titleContact: string;
    lastMessage: string;
    messagesNotRead: string;
    lastDateMessage: string;
  }

  interface Message {
    id: number;
    conversationId: number;
    userId: number;
    content: string;
    picture: string;
    isSeen: boolean;
    date: string;
    messageOwner: string;
  }

  @Component({
      components: {
          ContactListComponent,
          CurrentConversationComponent
      }
  })
  export default class ChatPageVue extends Vue {
    public messages:Message[] = [];
    public currentContact:Contact = [];
    public socket;

    public mounted() {
      this.socket = io.connect(Config.socketEndPoint);
    }

    public onUpdateCurrentConversation(data: {
        currentContact: Contact
    }) {

      Global.instanceAxios.post("/chat/get-messages", 
        {conversationId: data.currentContact.conversationId}, {}).then(({data: response}) => {
        //reorganiser les datas
        this.$watch('currentContact', currentContact => {
          this.currentContact = data.currentContact;
          this.messages = response.data;
        }, {immediate: true});
      }).catch((errors: any) => {
          console.log(errors)
          this.$buefy.notification.open({
              duration: 5000,
              message: "Une erreur est survenu. Veuillez contacter l'administation",
              position: "is-bottom",
              type: "is-danger"
          });
      });
    }

    public onSendMessage(data: any) {
      data["token"] = sessionStorage.getItem('token');
      this.socket.emit("new-message", data);
      this.socket.on("new-message-emit", ({data: response}: any) => {
        console.log("emit response")
        console.log(response);
        this.onUpdateCurrentConversation({currentContact: this.currentContact});
        //this.messages = response.data.messages
      });
    }
  }
</script>

<style scoped>
  .column-left {
    flex: 1;
    background: #ddd;
    padding: 5px;
  }
  .column-right {
    flex: 3;
  }
</style>
