<template>
    <div style="height: 100%">
        <!-- <div style="height: 50px">
            CHAT SOCKET INFO 3
        </div> -->
        <div style="height: 100%">
            <router-view/>
        </div>
    </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  @Component
  export default class DefaultLayoutVue extends Vue {

  }
</script>

<style scoped>
  div{
  }
</style>
