<template>
    <div>
        <header style="height: 200px">

        </header>
        <div>
            <router-view/>
        </div>
        <footer>
            Mon Socket Chat - INFO 3
        </footer>
    </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  @Component
  export default class NoLayoutVue extends Vue {

  }
</script>

<style scoped>

</style>
